# Part of the uprocotol project, under the Apache License v2.0 
# See /LICENSE for license information.
# SPDX-License-Identifier: Apache-2.0 

---
BasedOnStyle: Google
AllowShortBlocksOnASingleLine: 'false'
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: 'false'
DerivePointerAlignment: 'false'
ExperimentalAutoDetectBinPacking: 'false'
FixNamespaceComments: 'true'
PointerAlignment: Left
ColumnLimit: 100

TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -4

# There are *arguments* that tabs are better for accessibility (allows
# customization to meet individual needs _and_ represents single character on
# alternate display devices), but first-hand accounts / discussions of
# preferences are not easily found at the moment.
#
# Regardless, tabs are used for the time being to allow greater flexibility
# in configuration for the broader community.
UseTab: ForIndentation
