# ignore editor caches
.vscode/
.idea/

# ensure we don't check in the cloned .proto
up-core-api/

# ignore build artifacts
build/
/build.ninja
/.ninja_deps
/.ninja_log

# ignore presets file generated as part of conan install
CMakeUserPresets.json
