.idea/*
build/*
CMakeCache.txt
CMakeFiles/
Makefile
cmake-build-debug/
cmake-build-release/
cmake_install.cmake
/proto/cloudevents.pb.cc
/proto/cloudevents.pb.h
/proto/libproto.a
/test_app
/libcloudeventGM.a
/json_serializer_test
/binary_serializer_test
/service_type_test
.vscode/settings.json
/.cmake/
/build.ninja
/Testing/Temporary/LastTest.log
/.ninja_deps
/.ninja_log
.vscode
/uprotocol-core-api/
/include/uprotocol-cpp/uri/datamodel/
